/* blue: rgb(0,63,134) #003F86 orange: rgb(255,127,0) #FF7F00 */

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

/* GALLERY */
.slideNav{
    position:fixed;
    width:100%;
    background-color:white;
    z-index:999;
    top:50px;
    height:385px;
    color:black;
    text-align:center;
     -webkit-box-shadow: 0px 0px 20px 2px #000000;
     box-shadow: 0px 0px 20px 2px #000000;
}
.hideSlide{
    display:none;
}

#whiteDiv{
    background-color:white;
    position: fixed;
    top: 0;
    width:100vw;
    height:100vh;
    z-index:1010;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

a:hover{
    text-decoration: none !important;
}

.divNav{display:none;position:fixed;height:100vh;width:100%;background-color:rgb(255,255,255);color:white;z-index:12000;text-align:center;}
.showNav{display:inline-block;}

.hide{
    display:none !important;
}


.headimg{
    width:100%;
    -webkit-box-shadow: 0px 0px 3px;
    box-shadow: 0px 0px 3px;
    padding:3px;
}


body{
    font-family: 'Encode Sans', sans-serif !important;
}

.fontP{
    font-family: 'Encode Sans', sans-serif;
    text-align:left;
    font-size:24px;
    text-shadow: 1px 1px 3px black;
    margin-left:15px;   
}

@media (max-width:1024px){

    .headWrap{
        margin-right: 15px !important;
    }
    .fontP{
        margin-right:5px;
    }
    
}

@media (min-width:1400px){
    .headWrap{
        margin-top:10%;
    }
}

.fontH{
    padding-top:0px;
    font-family: 'Encode Sans', sans-serif;
}
.fontProd{
    margin-top:8vh !important;
}

/*
@media (min-width:1100px){
    .fontProd{
        margin-top:16vh !important;
    }
}
*/
/*
@media (min-width:1450px){
    .fontProd{
        margin-top:20vh !important;
    }
}
*/

/*
@media (min-width:1800px){
    .fontProd{
        margin-top:25vh !important;
    }
}
*/


h1{
    font-family: 'Encode Sans', sans-serif !important;
    margin-top:12vh !important;
}



#slideshow { 
    width: 100%;
    display: inline-block;
    position: relative;   
    
}
#slideshow:after{
  padding-top: 53%;
    margin:0 auto;
  /* 16:9 ratio */
  display: block;
  content: '';
}

#slideshow > div { 
    position: absolute;
}

/* GALLERY */

.nav2{
    height:8vh;
    background-color:transparent;
    position: absolute;
    display:block;
    width:100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index:1001;
    color:white !important;
    text-align: center;
    font-weight: bold;
    max-height: 60px;
}
.stickyNav{
    border-bottom:1px 1px 3px black;
    height:12vh;
    background-color:white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width:100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index:1002;
    color:black;
    text-align: center;
    font-weight: bold;
    max-height: 80px;
    padding-top: 8px;
}
.bottomShadow{
    -webkit-box-shadow: 0px 5px 7px 0px rgba(82,82,82,0.75);
    box-shadow: 0px 5px 7px 0px rgba(82,82,82,0.75);
}

@media (max-width:375px){
    .stickyNav{
        max-height:50px !important;
    }
}

@media (max-width:768px){
    .stickyNav{
        max-height:60px;
    }
}





.navText1{
    text-shadow: 1px 1px 3px black;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
    padding:20px;
    font-size: 20px;
    font-family: 'Encode Sans', sans-serif;
    text-decoration: none !important;
    padding-top:15px;
    color:white;
}
.navText1:hover{
    text-shadow: 2px 2px 6px black;
    text-decoration: none;
    color: white;
}

.navText2{
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
    padding:20px;
    font-size: 20px;
    font-family: 'Encode Sans', sans-serif;
    text-decoration: none !important;
    padding-top:15px;
    color:black !important;
    font-weight: lighter;
}
.navText2:hover{
    text-shadow: 1px 1px 3px black;
    text-decoration: none;
    color:black;
}
.navText3{
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
    font-size: 30px;
    line-height: 50px;
    font-family: 'Encode Sans', sans-serif;
    text-decoration: none !important;
    color:black !important;
    font-weight: lighter;
}
.navText3:hover{
    text-shadow: 1px 1px 3px black;
    text-decoration: none !important;
    color:black;
}

.hamburger{
    float:right;
    font-size:26px;
    display:none;
    margin-right:10px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    top: 0px;
    position: absolute;
    right: 0;
    margin-top:5px;
}
.hamburger:hover{
    color:rgb(255,127,0);
    cursor: pointer;
    text-decoration: none !important;
}
.hamburger:active{
    text-decoration: none !important;
}
.hamburger:enabled{
    text-decoration: none !important;
}

.xBtn{
    position:fixed;
    right:0;
    top:0;
    margin-top:5px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-right:10px;
    font-size:30px;
    color:black;
    text-decoration: none !important;
}
.xBtn:hover{
    color:rgb(255,127,0);
    cursor: pointer;
    text-decoration: none !important;
}
.xBtn:active{
    text-decoration: none !important;
}
.xBtn:enabled{
    text-decoration: none !important;
}

@media (min-width:768px){
    .hamburger{
        font-size: 36px;
    }
    .xBtn{
        font-size: 36px;
    }
}




@media (max-width:1024px){
    .nav2{
        display:none;
    }
    .hamburger{
        display:inline;
        cursor: pointer;
    }
    .xBtn{
        display:inline;
        cursor: pointer;
    }
    .homeLeft{
        margin-top:0px !important;
        padding-top:0px !important;
    }
    .navText2{
        display:none;
    }
}

.home{
    min-height:100vh;
    background-image: url(images/frontBlur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-bottom:20px;
    background-attachment:fixed;
}
@media (max-width:1024px){
    .home{
        background-attachment:local;
    }
}

.homeLeft{
    margin:0px;
    padding-top:7%;
    display:inline;
}
.homeRight{
    text-align:center;
    padding-top:15%;
    display: inline;
}




#slideshow { 
    width: 100%;
    height:100%;
    display: inline-block;
    position: relative;   
    
}
#slideshow:after{
  padding-top: 53%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

#slideshow > div { 
    position: absolute; 
}



@media (max-width:767px){
    h1{
        font-size: 24px !important;
    }
    .fontP{
        font-size: 16px !important;
        margin-left:15px;
    }
}

.lineL{
    border-top:1px solid rgb(0,63,134);
    width:33%;
    padding-bottom: 10px;
}

.lineC{
    border-top:1px solid rgb(255,127,0);
    width:33%;
    padding-bottom: 10px;
}

.lineR{
    border-top:1px solid grey;
    width:48%;
    padding-bottom: 10px;
    float:right;
}
.lineR2{
    display:inline;
    width:45%;
    padding-bottom: 10px;
    border-top:1px solid white;
    color:white;
}

#products{
    min-height:100vh;
    padding:20px;
    max-width:1200px;
    margin:0 auto;
    background-color: transparent;
}
#productsp{
    line-height: 30px;
    font-size: 18px;
    width:100%;
    font-family: 'Encode Sans', sans-serif;
}
#pwrap{
    width:100%;
    margin-top:10px;
}


.productsWrap{
    display:inline-block;
    text-align:left;
}
.productsInfo{
    display:inline-block;
    text-align:left;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.65);
box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.65);
}
.productSpan{
    font-size:16px;
    display: block;
}
.productP2{
    font-size:16px;
    font-weight: 300;
    padding-left:10px;
    margin-bottom:10px;
}
.productTitle{
    font-size: 18px;
    font-weight: bold;
    display: block;
}
.productTitle2{
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}
.dw{
    text-align: center;
    padding-bottom: 10px;
}

#quoteBTN{
    font-size: 16px;
    display: inline-block;
    width:200px;
    height:30px;
    background-color: rgb(255,127,0);
    line-height: 30px;
    margin:10px;
    color:white;
    border: 1px solid rgb(255,127,0);
}

#contactBTN{
    font-size: 16px;
    display: inline-block;
    width:200px;
    height:30px;
    background-color: transparent;
    line-height: 30px;
    margin:10px;
    color:rgb(255,127,0);
    border: 1px solid rgb(255,127,0);
}

@media (max-width:767px){
    .productsWrap{
        display: inline-block;
        text-align: left;
        width:100%;
    }
    .productSpan{
        width:260px;
        margin:0 auto;
    }
    .productTitle{
        width:260px;
        margin:0 auto;
    }
}


/*
.gallery{
    width:100%;
    display: inline-block;
    height:100% !important;
    text-align: center !important;
    vertical-align:center;
}
*/

#about{
   padding:20px;
   margin:0 auto;
   max-width:1000px;
/*   min-height:100vh;*/
    color:white;
    background-color: rgb(0,63,134);
    text-align: center;
}
#aboutp{
    line-height: 30px;
    font-size: 18px;
    font-family: 'Encode Sans', sans-serif;
    text-align:left;
}
.contactp{
    font-size:18px;
    line-height: 24px;
    font-family: 'Encode Sans', sans-serif;
    text-align:left;
    color:white;
    display: block;
}
.whiteline{
    border-top:.25px solid white;
    margin:0 auto;
    width:75%;
    max-width:700px;
}
.employee{
    display:inline-block;
    text-align:center;
    width:100%;
}
.empText{
    display:inline-block;
    color:white;
    height:100%;
    width:330px;
    vertical-align:top;
    padding-top:70px;
    padding-left:10px;
}
.empText2{
    display:inline-block;
    color:white;
    height:100%;
    width:330px;
    vertical-align:top;
    padding-top:50px;
    padding-left:10px;
}
@media (max-width:703px){
    .empText2{
        padding-top:20px;
    }
}

.infotext{
    margin-bottom: 0px;
/*    font-size: 18px;*/
    font-family: 'Encode Sans', sans-serif;
    text-align: left;
}
.infotext2{
    margin-bottom: 0px;
    font-size: 18px;
    font-family: 'Encode Sans', sans-serif;
    text-align: left;
}
@media (max-width:623px){
    .infotext3{
        margin-bottom:10px
    }
    .space{
        margin-bottom: 20px;
    }
}

@media (max-width:374px){
    .infotext{
        font-size: 14px;
    }
    .infotext2{
        font-size: 14px;
    }
    .empText{
        width:auto;
    }
}
@media (max-width:623px){
    .infotext{
        text-align: center;
    }
    .infotext2{
        text-align: left;
    }
    .empText{
        padding-top:0px;
        padding-left:0px;
/*
        padding-bottom: 10px;
        margin-bottom: 10px;
*/
    }
}


.circleBase {
    border-radius: 50%;
    display:inline-block;
    height:200px;
    width:200px;
}

.circle1 {
    width: 250px;
    height: 250px;
    background-image: url(images/employees/george.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid rgb(255,127,0);
}
.circle2 {
    width: 250px;
    height: 250px;
    background-image: url(images/employees/tracy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid rgb(255,127,0);
}
.circle3 {
    width: 250px;
    height: 250px;
    background-image: url(images/employees/jon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border: 3px solid rgb(255,127,0);
}
.circle4 {
    width: 250px;
    height: 250px;
    background-image: url(images/employees/diane.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border: 3px solid rgb(255,127,0);
}

.whyBox{
    
    border-radius:10px;
    display: inline-block;
  vertical-align: middle;
    height:400px;
    width:300px;
    background-color: rgb(255,127,0);
    color:white;
    padding:10px;
    margin:10px;
/*
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.65);
box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.65);
*/
-webkit-box-shadow: inset 0px 0px 8px 3px rgba(0,0,0,0.65);
box-shadow: inset 0px 0px 8px 3px rgba(0,0,0,0.65);
}
.whyBox p{
    padding:10px;
    font-size:24px;
    font-weight: 500;
    text-align: left;
}

#qSpan{
    font-size:120px;
    width:100%;
    text-align: center;
    display: block;
}




@media (max-width:767px){
    #aboutp{
        line-height:20px;
        font-size:14px;
    }
    #infotext{
        font-size: 14px !important;
    }
    #infotext2{
        font-size: 14px;
    }
    #productsp{
        font-size: 14px;
    }
}

@media (min-width:1024px){
    #aboutp{
        font-size:24px;
    }
    #infotext{
        font-size: 24px;
    }
    #infotext2{
        font-size: 24px;
    }
    #productsp{
        font-size:24px;
    }
}

#quote{
    padding:20px;
   margin:0 auto;
   max-width:1000px;
/*   min-height:100vh;*/
}
.form-control{
    -webkit-box-shadow: 1px 1px 3px lightgrey;
    box-shadow: 1px 1px 3px lightgrey;
}
.form-group{
    max-width: 470px;
    width: 100%;
    display: inline-block;
}
.reqBTN{
    border:1px solid rgb(255,127,0);
    color:rgb(255,127,0);
    width:100%;
    max-width:200px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.reqBTN:hover{
    color:white;
    background-color: rgb(255,127,0);
    border:1px solid rgb(255,127,0);
}
.quoteBTN{
    border:1px solid rgb(255,127,0);
    background-color: rgb(255,127,0);
    color:white;
    width:100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.quoteBTN:hover{
    color:rgb(255,127,0);;
    background-color: white;
    border:1px solid rgb(255,127,0);
}
@media (max-width:767px){
    .reqBTN{
        max-width:500px;
    }
}

#contact{
    color:white;
    background-color:rgb(255,127,0);
    padding:20px;
   margin:0 auto;
   max-width:1200px;
}

.map{
    height:60vh;
}
@media (max-width:1024px){
    .map{
        height:40vh;
    }
}
#missionwrap{
    text-align:center;
    display: inline-block;
}
.missionSpan{
    display: inline;
    margin:20px;
    font-size: 26px;
    height:50px;
}
#spacer{
    height:40px;
}
@media (max-width:1024px){
    .missionSpan{
        display: block;
    }
    #spacer{
    display:none;
}
    #missionwrap{
    text-align:left;
}
}
@media (max-width:767px){
    .missionSpan{
        font-size: 18px;
    }
}








